<?xml version="1.0"?>
<launch>
  <arg name="use_log" default="false" />
  <arg name="bag_file" default="$(find rtcm3_ros)/sample/sample.bag" />
  <arg name="record_bag_dir" default="" />
  <arg name="use_src1" default="true" />
  <arg name="ip1" default="127.0.0.1" />
  <arg name="port1" default="8020" />
  <arg name="use_src2" default="false" />
  <arg name="ip2" default="127.0.0.1" />
  <arg name="port2" default="8021" />

  <param name="use_sim_time" value="$(arg use_log)" />

  <group unless="$(arg use_log)">
    <node name="rtcm3" pkg="rtcm3_ros" type="rtcm3" respawn="true" if="$(arg use_src1)">
      <param name="ip" value="$(arg ip1)" />
      <param name="port" value="$(arg port1)" />
    </node>
    <node name="rtcm3_2" pkg="rtcm3_ros" type="rtcm3" respawn="true" if="$(arg use_src2)">
      <param name="ip" value="$(arg ip2)" />
      <param name="port" value="$(arg port2)" />
    </node>
  </group>
  <node name="rtcm3_dec" pkg="rtcm3_ros" type="rtcm3_decode" respawn="true" output="screen">
  </node>
  <node name="rtcm3_srv" pkg="rtcm3_ros" type="rtcm3_server" respawn="true" output="screen" if="$(arg use_log)">
  </node>

  <node pkg="rosbag" type="record" name="record" args="-o $(arg record_bag_dir)gnss -b 1 /rtcm3" unless="$(arg use_log)" />
  <node pkg="rosbag" type="play" name="play" args="--clock -s 24 $(arg bag_file)" if="$(arg use_log)" />
</launch>
