<?xml version="1.0"?>
<launch>
  <arg name="use_log" default="false" />
  <arg name="bag_file" default="$(find rtcm3_ros)/sample/sample.bag" />
  <arg name="record_bag_dir" default="" />
  <arg name="use_src1" default="true" />
  <arg name="ip1" default="127.0.0.1" />
  <arg name="port1" default="8020" />
  <arg name="use_src2" default="false" />
  <arg name="ip2" default="127.0.0.1" />
  <arg name="port2" default="8021" />
  <arg name="bag_rate" default="1.0" />
  <arg name="bag_skip" default="20" />

  <param name="use_sim_time" value="$(arg use_log)" />

  <group unless="$(arg use_log)">
    <node name="rtcm3_0" pkg="rtcm3_ros" type="rtcm3" respawn="true" if="$(arg use_src1)">
      <param name="ip" value="$(arg ip1)" />
      <param name="port" value="$(arg port1)" />
      <remap from="rtcm3" to="rtcm3_0" />
    </node>
    <node name="rtcm3_1" pkg="rtcm3_ros" type="rtcm3" respawn="true" if="$(arg use_src2)">
      <param name="ip" value="$(arg ip2)" />
      <param name="port" value="$(arg port2)" />
      <remap from="rtcm3" to="rtcm3_1" />
    </node>
  </group>
  <node name="rtcm3_dec_0" pkg="rtcm3_ros" type="rtcm3_decode" respawn="true" output="screen">
    <remap from="rtcm3" to="rtcm3_0" />
  </node>
  <node name="rtcm3_dec_1" pkg="rtcm3_ros" type="rtcm3_decode" respawn="true" output="screen">
    <remap from="rtcm3" to="rtcm3_1" />
  </node>
  <node name="rtcm3_srv_0" pkg="rtcm3_ros" type="rtcm3_server" respawn="true" output="screen" if="$(arg use_log)">
    <remap from="rtcm3" to="rtcm3_0" />
    <param name="port" value="$(arg port1)" />
  </node>
  <node name="rtcm3_srv_1" pkg="rtcm3_ros" type="rtcm3_server" respawn="true" output="screen" if="$(arg use_log)">
    <remap from="rtcm3" to="rtcm3_1" />
    <param name="port" value="$(arg port2)" />
  </node>

  <node pkg="rosbag" type="record" name="record" args="-o $(arg record_bag_dir)gnss -b 1 /rtcm3_0 /rtcm3_1" unless="$(arg use_log)" output="screen" />
  <node pkg="rosbag" type="play" name="play" args="-s $(arg bag_skip) -r $(arg bag_rate) --clock $(arg bag_file)" if="$(arg use_log)">
    <remap from="rtcm3" to="rtcm3_0" /> <!-- for compatibility -->
  </node>
</launch>
